<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Incident</title>
</head>
<body>
    <h2>What incident would you like to join?</h2>
    <p><-- In the future, list STARTED incidents --></p>
    <section id="incidents-section"></section>
    <input id="incident-id-submit" type="button" value="Enter">

    <script>
        const webSocketProtocol = () => {
            if (window.location.protocol === 'http:') {
                return 'ws:'
            } else if (window.location.protocol === 'https:') {
                return 'wss:'
            } else {
                console.error(`protocol ${window.location.protocol} not supported`)
            }
        }

        const incidentListSocket = new WebSocket( `${webSocketProtocol()}//${window.location.host}/ws/incident/`);

        incidentListSocket.onmessage = function(e) {
            console.log(e.data);
            const parsedIncidents = JSON.parse(e.data);
            for(let incident of parsedIncidents.incident_list) {
              var newDiv = document.createElement("div");
              var newContent = document.createTextNode(JSON.stringify(incident));
              newDiv.appendChild(newContent)
                newDiv.style="border-style: solid;"
              var currentDiv = document.getElementById("incidents-section");
              document.body.insertBefore(newDiv, currentDiv);
            }
        };

        document.querySelector('#incident-id-submit').onclick = function(e) {
            window.location.pathname = '/wsdebug/1/';
        };
    </script>
</body>
</html>